# Logs
logs
*.log
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.local
hackmd
mdxjs
.README.md

# stop github deploy
.github/workflows/deploy.yml

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
